<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/style.css">

   <title>login page</title>
</head>
<body>
   <form method="post" action="/login">
      <div class="main-form">
         <div class="form">
            <label>Enter Your Username</label>
            <input type="text" name="userName" id="user">
         </div>
         <div class="form">
            <label>Enter Your Password</label>
            <input type="password" name="password" id="pass">
         </div>
         <button type="submit">Login</button>
      </div>
   </form>
   <p>Do you have an account? <a href="/signup">signup</a></p>
</body>
</html>