<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>signup Page</title>
</head>
<body>
   <form method="post" action="/signup">
      <div class="main-form">
         <div class="form">
            <label>Enter Your Username</label>
            <input type="text" name="userName" id="user">
         </div>
         <div class="form">
            <label>Enter Your Password</label>
            <input type="password" name="password" id="pass">
         </div>
         <button type="submit">Signup</button>
      </div>
   </form>
</body>
</html>